<!doctype html>
<html>
  <head>
    <title><%= title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <section class="wrapper">
      <div class="users">
        <ul id="users"></ul>
        <a href="/logout">Đăng xuất </a>
      </div>
      <div class="messages">
        <ul id="messages"></ul>
      </div>

    </section>
    <form action="">
      <div class="join-room-msg"></div>
      <textarea id="m" autocomplete="off" autofocus></textarea><button>Gửi</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script> var username = '<%= username %>' </script>
  <script src="javascripts/chat.js"></script>
</html>
