* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form textarea {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
  font-size: 16px;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 17px 10px;
  position: fixed;
  bottom: 3px;
  font-size: 16px;
}
#messages {
  list-style-type: none;
  margin: 0;
  margin-bottom: 150px;
  padding: 0;
}
#messages li {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.auth {
  background-color: #2962ff;
  color: #fff;
  font-size: 16px;
}
.others {
  background-color: #eeeeee;
  color: #263238;
  font-size: 16px;
}
.username-message {
  font-size: 18px;
  font-weight: 600;
}

.message-username {
  font-size: 18px;
  font-weight: 600;
}
.message-content {
  font-size: 16px;
  padding: 10px 15px;
}
.join-room-msg {
  margin: 5px;
  padding: 10px;
  color: #ff8a65;
  font-size: 16px;
}
@media (max-width: 576px) {
  form textarea {
    width: 80%;
    margin-right: 1%;
    font-size: 14px;
  }
  form button {
    width: 18%;
    bottom: 1px;
    border-radius: 5px;
  }
}
